/* stylelint-disable @stylistic/selector-list-comma-newline-after */
/* brown? #ab674e darker salmon ##f8a282  med salmon #f8d3c5 blush #fceee9 pale sage #dde6d5 med sage #a3b899 dark sage #667b68 */
header {
  width:100%;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2rem;
  padding-block: 5px;
  background-color: #a3b899;
  /*border: 5px dashed #667b68; */
  border-radius: 10px; 
  margin-bottom: 4rem;
  margin-inline: 10px;
  color: #425644;
  text-shadow: #161f17;
}
.anus{
  background-color: #ab674e;
}

.container{
  margin: 20px;
  padding: 20px;
}
.subforum{
  margin-top: 20px;
}
.subforum-title{
  background-color: #dde6d5;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}
.subforum-description{
  margin-block: 0;
}
.subforum-row{
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column{
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #f8a282;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subforum-icon i{
  font-size: 45px;
}
.subforum-divider{
  display: none;
}
/*for smartphone dimensions*/
@media screen and (max-width: 460px){
  .container{
    margin: 10px;
    padding: 10px;
  }
  .subforum-row{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }
  .subforum-divider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(190,190,190,0), rgba(255,255,255,0.75), rgba(190,190,190,0));
  }
}
/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container{
      margin: 15px;
      padding: 15px;
  }
  .subforum-row{
      display: grid;
      grid-template-columns: 10% 60% 10% 20%;
  }
  .subforum-icon i{
      font-size: 35px;
  }
  html{
      font-size: 14px;
  }
  h1{
      font-size: 16px;
  }
}
.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}
.outset {
  border-style: outset;
  
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
article {
  text-align: center;
  background-color:#dde6d5;
  box-shadow: 10px 10px #667b68;
  border: 5px solid #a3b899;
  border-radius: 10px;
  margin-bottom: 4rem;
}
article {
  margin-bottom: 1.25rem;
  color: #667b68;
}
/*
.slant-pink {
  --a: 1.45deg;  
  
  border-image: conic-gradient(pink 0 0) fill 0//9999px;
  clip-path: 
    polygon(
      -9999px calc(tan(var(--a)) * 9999px),
      9999px calc(tan(var(--a)) * -9999px),
      calc(100% + 9999px) calc(100% - tan(var(--a)) * 9999px),
      calc(100% - 9999px) calc(100% + tan(var(--a)) * 9999px)
    );
}*/
/*
.slant-blue {
  --a: 1.45deg; 
  
  border-image: conic-gradient(rgb(192, 232, 255) 0 0) fill 0//9999px;
  clip-path: 
    polygon(
      -9999px calc(tan(var(--a)) * 9999px),
      9999px calc(tan(var(--a)) * -9999px),
      calc(100% + 9999px) calc(100% - tan(var(--a)) * 9999px),
      calc(100% - 9999px) calc(100% + tan(var(--a)) * 9999px)
    );
}
*/
body {
  background-color: #fceee9;
  opacity: 0.8;
  background-image:  linear-gradient(#f8d3c5 2px, transparent 2px), linear-gradient(90deg, #f8d3c5 2px, transparent 2px), linear-gradient(#f8d3c5 1px, transparent 1px), linear-gradient(90deg, #f8d3c5 1px, #fceee9 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}/*background-color: #f8d3c5;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  */
/*footer {
  background-color: #f8d3c5;
}*/
/*header {
  
    border-image: linear-gradient(0deg,#cf65c1 8px,#f4ceef 0) fill 0//0 100vw;
    padding-block: 5px;
  
}*/

h2 {
  --a: -45deg; /* control the angle */
  --t: .23em; /* thickness of the underline */ 
}

h2 span {
  --_s: calc(var(--t)*cos(var(--a)));
  background:
    linear-gradient(var(--a),#0000 var(--_s),currentColor 0 calc(100% - var(--_s)),#0000 0) 
    bottom/var(--i,90%) var(--t) no-repeat;
  padding: 0 .25em calc(var(--t) + .1em);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  transition: .3s;
}
h2:hover span {
  --i: 100%;
}
a {
  color:#764636;
  font-weight: bolder;
  text-decoration: none;
}
.option1 { 
  display: inline-block; /* show on the same line */ 
  padding-right: 5px;
  text-align: center;
}
.header-container { 
  white-space: nowrap; /* Prevents wrapping onto a new line */ 
} 
 
.header { 
  display: inline-block; 
  margin-right: 20px; /* Add spacing between headers as desired */ 
} 
.blogtitle {
  --s: 6px;   /* the thickness */
  --c: #667b68;   /* the color */
  --w: 100px; /* the width */
  --g: 10px;  /* the gap */
  border-image: 
    linear-gradient(
     #0000      calc(50% - var(--s)/2),
     var(--c) 0 calc(50% + var(--s)/2),
     #0000    0) 
   0 1/0 var(--w)/0 calc(var(--w) + var(--g));
}
/*nav bar shit*/
.navbar{
  display: flex;
  align-items: center;
}
.navigation{
  background-color: rgb(212, 212, 237);
  padding: 10px;
  width: 65%;
  display: inline-block;
  border-radius: 10px;
  max-height:80px;
  margin-right: 10px;
}
.close-icon i{
  font-size:60px;
  float: left;
  cursor: pointer;
}
.nav-list{
  list-style-type: none;
  overflow: hidden;
}
.nav-item a{
  float: left;
  display: block;
  text-align: center;
  margin-inline: 10px;
  font-size: 20px;
  padding: 7px;
  color:#526754;
}
.nav-item a:hover{
  background-color: #fceee9;
}
.hide{
  display: none;
}
.bar-icon{
  font-size: 60px;
  display:inline-block;
  margin-right: 10px;
  color: #526754;
  cursor: pointer;
}
@font-face {
  font-family: dayton-vintage;
  src: url(DaytenVintagePersonalUse-PVVZ7.otf);
}
.brand{
  font-size: 80px;
  display: inline-block;
  font-family: dayton-vintage;
}
/**
/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
  .navigation{
      max-height: auto;
  }
  
  .close-icon i{
      font-size:25px;
  }
  
  .nav-item a{
      float:left;
      display:inline;
      margin-inline: 3px;
      font-size: 10px;
      padding: 5px;
  }
  
  
  .bar-icon{
      font-size: 30px;
  }

  .brand{
      font-size:20px;
  }
}

/* Search Box styles */
.search-box{
  margin-top: 20px;
  padding: 40px;
  display:flex;
  justify-content: center;
  box-shadow:1px 2px 3px #52057b;
}

.search-box select{
  padding: 10px;
}

.search-box input{
  padding: 10px;
}

.search-box button{
  padding: 10px;
  background-color: #764636;
  color: #fceee9;
}

.search-box button:hover{
  background-color: #fceee9;
  color: #764636;
  box-shadow: 1px 2px 3px #f8a282;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
  .search-box input, .search-box button, .search-box select{
      min-width: 300px;
      margin-top: 5px;
  }    

}

/* forum info Styling */
.forum-info{
  padding: 20px;
  background-color: #f8d3c5;
}

.chart{
  font-size:20px;
  font-weight:bold;
}
/* Footer Styling */

footer{
  margin-top: 20px;
  padding: 20px;
  background-color: #a3b899;
  display: block;
  text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
  display: flex;
}

.table-head div{
  padding: 5px;
  margin: 2px;
  background-color: #f8a282;
  font-weight: bold;
}

.table-head .status{
  flex: 5%;
}

.table-head .subjects{
  flex: 70%;
}

.table-head .replies{
  flex: 10%;
}

.table-head .last-reply{
  flex: 15%;
}

/* posts table's body  */

.table-row{
  display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
  padding: 5px;
  margin: 2px;
  background-color: #f8a282;
}

.table-row .status{
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects{
  flex: 70%;
}

.table-row .replies{
  flex: 10%;
}

.table-row .last-reply{
  flex: 15%;
}

/* navigation path*/
.navigate{
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a{
  color: #fceee9;
}

.navigate a:hover{
  color: #667b68;
  font-weight: bolder;
}

/* Pagination*/

.pagination{
  padding: 20px;
  font-size: 15px;
}

.pagination a{
  color: #fff;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 0.5px #fff;
}

.pagination a:hover{
  opacity: 0.5;
}

.note{
  background-color:#111314;
  padding: 20px;
  display: block;
}

.note span{
  font-size: 20px;
  margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
  display: flex;
  background-color: #f8a282;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.authors{
  flex: 20%;
}

.content{
  flex: 80%;
}

.body{
  display: flex;
  background-color: #a3b899;
  padding: 10px;
  margin-top: 5px;
}

.body .authors .username{
  font-size: 20px;
}

.body .authors img{
  max-width: 50px;
  max-height: 80px;
}

.body .content .comment button{
  border:none;
  padding:10px;
  font-weight: bolder;
  box-shadow: 4px 6px #79e367;
  cursor: pointer;
  float: right;
}

/* comment section */
.comment-area{
  margin-bottom:50px;
}

.comment-area textarea{
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
}

.comment-area input{
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.comment-area input:hover{
  border: solid 1px #000000;
}

